name: PR Validation (CI Only)

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

permissions:
  contents: read  # This is required for actions/checkout

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    
    steps:
    - name: 'Checkout Repository'
      uses: actions/checkout@v6
      
    - name: 'Dependency Review'
      uses: actions/dependency-review-action@v4
        
  dotnet-ci:
    runs-on: ubuntu-latest

    steps:
    - uses: frasermolyneux/actions/dotnet-ci@dotnet-ci/v1.1
      with:
        dotnet-version: |
          9.0.x
          10.0.x-preview
        src-folder: "src"
